{#
  Page: Root Dashboard Placeholder
  Template: pages/index/index_main.html
  Layout: layouts/base.html
  Purpose: High-level cross-domain overview (placeholder pending further composition of multi-domain stats & quick links).
  Context:
    - summary (optional): dict with high-level counts
#}
{% extends 'layouts/base.html' %}
{% block page_title %}Dashboard{% endblock %}
{% block main %}
  <div class="container py-4">
    {% include 'pages/index/partials/header.html' %}

    <div class="d-grid gap-4" data-component="root-dashboard">
      <div class="row">
        <div class="col-12 mb-4">
          {% include 'pages/index/partials/quick_actions.html' %}
        </div>

        <div class="col-12 mb-4">
          {% include 'pages/index/partials/stats.html' %}
        </div>

        <div class="col-12 mb-4">
          {% include 'pages/index/partials/system_health.html' %}
        </div>

        <div class="col-12 mb-4">
          {% include 'pages/index/partials/analysis_chart.html' %}
        </div>

        <div class="col-12 mb-4">
          {% include 'pages/index/partials/quick_actions.html' %}
        </div>

        <div class="col-lg-6 mb-4">
          {% include 'pages/index/partials/recent_activity.html' %}
        </div>

        <div class="col-lg-6 mb-4">
          {% include 'pages/index/partials/service_status.html' %}
        </div>

        <div class="col-12 mb-4">
          {% include 'pages/index/partials/top_models.html' %}
        </div>
      </div>
    </div>

    {% include 'pages/index/partials/modal.html' %}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include 'pages/index/partials/scripts.html' %}
{% endblock %}
