{# Main Sample Generator Interface #}

<!-- Status Bar -->
<div class="row mb-4">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Generation Status</h3>
      </div>
      <div class="card-body">
        {% include 'pages/sample_generator/partials/_status_metrics.html' %}
      </div>
    </div>
  </div>
</div>

<!-- Main Tabbed Interface -->
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="main-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="generation-tab" data-bs-toggle="tab" data-bs-target="#generation" type="button" role="tab"><i class="fas fa-wand-magic-sparkles me-2"></i>Generation</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="templates-tab" data-bs-toggle="tab" data-bs-target="#templates" type="button" role="tab"><i class="fas fa-file-code me-2"></i>Templates</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="results-tab" data-bs-toggle="tab" data-bs-target="#results" type="button" role="tab"><i class="fas fa-list-check me-2"></i>Results</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="batch-tab" data-bs-toggle="tab" data-bs-target="#batch" type="button" role="tab"><i class="fas fa-layer-group me-2"></i>Batch Operations</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="management-tab" data-bs-toggle="tab" data-bs-target="#management" type="button" role="tab"><i class="fas fa-sliders me-2"></i>Management</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="scaffolding-tab" data-bs-toggle="tab" data-bs-target="#scaffolding" type="button" role="tab"><i class="fas fa-cubes me-2"></i>Scaffolding</button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      
      <!-- Generation Tab -->
      <div class="tab-pane fade show active" id="generation" role="tabpanel">
        {% include 'pages/sample_generator/partials/generation_tab.html' %}
      </div>
      
      <!-- Templates Tab -->
      <div class="tab-pane fade" id="templates" role="tabpanel">
        {% include 'pages/sample_generator/partials/templates_tab.html' %}
      </div>
      
      <!-- Results Tab -->
      <div class="tab-pane fade" id="results" role="tabpanel">
        {% include 'pages/sample_generator/partials/results_tab.html' %}
      </div>
      
      <!-- Batch Operations Tab -->
      <div class="tab-pane fade" id="batch" role="tabpanel">
        {% include 'pages/sample_generator/partials/batch_tab.html' %}
      </div>
      
      <!-- Management Tab -->
      <div class="tab-pane fade" id="management" role="tabpanel">
        {% include 'pages/sample_generator/partials/management_tab.html' %}
      </div>

      <!-- Scaffolding Tab -->
      <div class="tab-pane fade" id="scaffolding" role="tabpanel">
        {% include 'pages/sample_generator/partials/scaffolding_tab.html' %}
      </div>
      
    </div>
  </div>
</div>

<!-- Progress Modal -->
<div class="modal fade" id="progress-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Generation Progress</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div id="progress-content">
          <div class="progress mb-3">
            <div class="progress-bar" id="generation-progress-bar" style="width: 0%"></div>
          </div>
          <div id="progress-details"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>