{#
  Standard wrapper for Errors pages.
#}
{% extends 'layouts/base.html' %}
{% block page_title %}Errors{% endblock %}
{% block main %}
<div class="page">
  <div class="page-wrapper">
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">Errors</h2>
            <div class="text-muted mt-1">Application and system error pages</div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="container-xl">
        {% include 'pages/errors/partials/main.html' ignore missing %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include 'pages/errors/partials/scripts.html' ignore missing %}
{% endblock %}
