{% from 'partials/analysis/preview/_summary_macros.html' import security_card, dynamic_card %}

<!--begin::Analysis Preview-->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      <i class="bi bi-eye text-primary me-2"></i>
      Analysis Preview
    </h3>
    <div class="card-tools">
      <span class="badge text-bg-info">{{ application.model_slug }} / app {{ application.app_number }}</span>
    </div>
  </div>
  <div class="card-body">
    <div class="row g-3">
      <div class="col-12 col-lg-6">
        {{ security_card(latest_security) }}
      </div>
      <div class="col-12 col-lg-6">
        {{ dynamic_card(latest_dynamic) }}
      </div>
    </div>
  </div>
</div>
<!--end::Analysis Preview-->
