{# Applications Page - simplified (avoid duplicate page/page-wrapper/container from base layout)
   Refactored to use shared page_header macro (safe additive change)
#}
{% extends 'layouts/base.html' %}
{% import 'shared/macros/ui.html' as ui %}
{% block page_title %}{{ page_title or 'Applications' }}{% endblock %}
{% block main %}
  {{ ui.page_header('Applications', 'Manage your applications') }}

  {% if main_partial %}
    {% include main_partial ignore missing %}
  {% else %}
    {% include 'pages/applications/partials/main.html' ignore missing %}
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include 'pages/applications/partials/scripts.html' ignore missing %}
{% endblock %}
